# SPDX-License-Identifier: BSD-2-Clause OR GPL-2.0-only
name: Nix

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v15
        with:
          name: sielicki
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        continue-on-error: true

      - name: Nix flake check
        run: nix flake check --print-build-logs

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - loom
          - loom-clang
          - loom-asio
          - loom-debug

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v15
        with:
          name: sielicki
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        continue-on-error: true

      - name: Build ${{ matrix.package }}
        run: nix build .#${{ matrix.package }} --print-build-logs

  build-macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - loom
          - loom-clang
          - loom-asio

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v15
        with:
          name: sielicki
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        continue-on-error: true

      - name: Build ${{ matrix.package }}
        run: nix build .#${{ matrix.package }} --print-build-logs
